#personnal purpose skip

.intra.passwd

#eclipse skip
.classpath
.project
target
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
#intellij skip
*.iml
.idea/
#testNG skip
TESTNG-*
ivy*
eclipse-build
javadocs
test-output
test-output-tests
z_build
maven-testng-plugin-1.2.jar
src/test/java/test/ignore
testng.iml
.ant-targets*